img {
    width: 100px;
    height: auto;
    padding: 8px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.header{
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0;
}

nav.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0 20px;

    figure{
        align-content: center;
        margin: 0;

        a{
            display: flex;
            
        }

        figcaption {
            align-content: center;
            font-family: var(--fuente-titulo-hero);
            font-size: 25px;
            color: var(--color-principal);
        }
    }
}

.menu-hamburguesa {
    position: relative;
}

button.hamburguesa {
    width: 50px;
    height: 50px;
    justify-items: center;
    border-radius: 50%;
    background-color: var(--color-secundario);
    border: 2px solid black;
}

.hamburguesa div{
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color:  var(--color-principal);
    border-bottom: 1px solid white;
}

.menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 145%;
    right: 0;
    background-color:  rgba(212, 145, 21, 0.76) ;
    justify-content: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    width: 40vw;

        li {
            text-align: center;
            padding: 3px;
            margin: 3.5px;
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(50px);
            border-radius: 10px;

            border-bottom: 2px solid white;
            border-left: 2px solid var(--color-principal);
            border-right: 2px solid var(--color-principal);
            border-radius: 10px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-family: var(--fuente-titulo-hero);
                    font-size: 25px;
                    color: rgb(48, 65, 68);
                }
        }

}

.menu ul.active {
    display: flex;
}