<div class="header">
    <nav class="menu container">
        <figure>
            <a routerLink="/home">
                <img src="../../../assets/img/logo-blanco.jpeg" alt="Logo Alfareros">
                <figcaption class="logo-texto">Alfareros <br> Patina</figcaption>
            </a>
        </figure>
    
        <div class="menu-hamburguesa">
            <button class="hamburguesa" [class.open]="menuAbierto" (click)="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </button>
            
            <ul  [class.active]="menuAbierto">
                <li class="solo-desktop" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/home" (click)="menuAbierto = false">Inicio</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/eventos" (click)="menuAbierto = false">Eventos</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/rutas" (click)="menuAbierto = false">Rutas</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/tienda" (click)="menuAbierto = false">Merchan</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/alfareros" (click)="menuAbierto = false">Alfareros</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/contacto" (click)="menuAbierto = false">Contacto</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
