.fondo-hero {
    background-image: url(../../../assets/img/hero.png);
    width: 100%;
    height: 40vh;
    position: relative;
}

.fondo-hero {
    background-image: url(../../../assets/img/hero.png);
    width: 100%;
    height: 30vh;
    position: relative;
}

.titulo-hero {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;

    h1{
        font-family: "Chicle", serif;
        font-size: 80px;
        color:  rgb(25, 127, 212);
    text-shadow: 2px 2px 2px black;
    }

    h2 {
        font-family: "Chicle", serif;
        text-shadow: 2px 2px 2px  rgb(180, 131, 39) ;
    }
}

.texto {
    margin: auto 0;
}

.none {
    color: grey;
    font-style: italic;
}