h3{
        font-family: var(--fuente-titulo);
        margin: 50px 0 0 0;
        font-size: 30px;
        color:  var(--color-principal);
        text-align: center;
    }

h6{
    font-family: var(--fuente-titulo);
    text-align: center;
    color: var(--color-secundario);
    margin: 15px;
}

strong{
    color: var(--color-secundario);
}

strong.titulo {
    color:  var(--color-principal);}

.fondo-hero {
    background-image: url(../../../assets/img/hero.png);
    width: 100%;
    height: 40vh;
    position: relative;
}

.titulo-hero {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-family: var(--fuente-titulo-hero);

    h1{
        font-size: 80px;
        color:  var(--color-principal);
        text-shadow: 2px 2px 2px black;
    }

    h2 {
        text-shadow: 2px 2px 2px  var(--color-secundario) ;
    }
}

.sobre-nosotros{
    text-align: center;
    h3{
        font-family: var(--fuente-titulo);
        margin: 15px;
        font-size: 40px;
        color:  var(--color-principal);
        
    }

    .parrafos {
        width: 80%;
        text-align: center;
        align-items: center;
        justify-self: center;
        text-align: justify;
        line-height: 1.4;

        p{
            font-family: var(--fuente-texto);
            font-size: 22px;
        }
    }

}

.imagenes-hero {
    

    img{
        max-width: 90%;
        height: auto;
        display: block;
        object-fit: cover;
        object-position: center;
        margin: 0 20px;
        border-radius: 20px;
    }

}

.eventos-hero {
    font-family: var(--fuente-texto);
    place-items: center;

    .eventos-lista {
        margin-top: 40px;
    }

    article {
        /* display: flex; */
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        text-align: center;
    }

    figure{
        /* align-self: center; */
        text-align: center;
    }
    
    img {
        border-radius: 10px;
    }

    h5{
        font-size: 22px;
        color:  var(--color-principal);
    }

    p {
        font-size: 18px;
        margin: 20px 0;
    }

    div figure a img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .texto-evento {
        margin: 30px;
        border-bottom: 2px solid var(--color-secundario);
    }

    button {
        background-color: var(--color-principal);
        border-radius: 8px;
        border: 2px solid var(--color-principal);
        transition: 0.5s;
        padding: 8px 15px;
        margin-bottom: 20px;

    }
}

@media (min-width: 768px){
    .imagenes-hero {
        a {
            img{
                width: 500px;
                height: 400px;
            }
        }
        .texto-imagen {
            justify-self: center;
        }
        
    }
}

@media (min-width: 992px){
        .imagenes-hero {
        a {
            img{
                width: 600px;
                height: 400px;
            }
        }
        
    }
}

@media (min-width: 1024px){

    .eventos-hero {
        button:hover {
            color:  white;
            background-color:  var(--color-secundario) ;
            border: 2px solid var(--color-secundario);
        }
    }
}

@media ( min-width: 1200px) {
    .imagenes-hero {
        figure{
            display: flex;
            
            }
            div .texto-imagen {
                width: 600px;
            }
        } 

    .eventos-lista {
        display: flex;
    }
    article {
        display: flex;
        margin: 50px 20px;
    }

    figure{
        align-self: center;
    }
    
    img {
        border-radius: 10px;
    }

    h5{
        font-size: 22px;
        color: var(--color-principal);
    }

    p {
        font-size: 18px;
        margin: 20px 0;
    }

    div figure a img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .texto-evento {
        margin: 0 20px;
    }

    button {
        background-color:  var(--color-principal);
        border-radius: 8px;
        border: 2px solid var(--color-principal) ;
        transition: 0.5s;
        padding: 8px 15px;

    }
}

@media (min-width: 1440px){

    .imagenes-hero {
        figure{
            place-content: center;
        }
        img {
            width: 500px;  
        }
    }

}
