<section class="titulo-seccion">

    <hgroup>
        <h2>WIKILOC</h2>
        <h6>Descubre los tipos de rutas que hacemos y mira su recorrido en el mapa</h6>
    </hgroup>
    <div>
        <button (click)="toggle('info')" class="btn-info" [class.activo]="activo === 'info'">RUTAS</button>
        <button (click)="toggle('mapa')" class="btn-mapa" [class.activo]="activo === 'mapa'">MAPAS</button>
    </div>

</section>

<article class="info container">
    @if (activo === 'info') {
        <article class="info-rutas">
            <div>
                <i class="fa-solid fa-person-skating"></i>
                <h3>RUTA <strong>'PATINAMOS SIN PRISA'</strong> 15-20KM</h3>
            </div>
            <p>Esta es la ruta que normalmente hacemos cuando el tiempo lo permite, la Alfarera oficial por así decirlo, aunque vamos variando algún tramo para que no se haga muy monótona. La velocidad y distancia de esta ruta va acorde con los integrantes de la misma. Puedes unirte al grupo de WhatsApp para saber cuál será nuestra siguiente ruta.</p>
        </article>

        <article class="info-rutas">
            <div>
                <i class="fa-solid fa-xmark"></i>
                <h3>RUTA <strong>'ALFAREROS EN EL X-MADRID + CENA'</strong> 20-25KM</h3>
            </div>
            <p>Cuando entramos más en invierno, preferimos asegurar el Día Alfarero en X-Madrid (centro comercial en el que se permite patinar), ya que así estamos resguardados del viento y la lluvia. Al terminar la ruta, además, tenemos un sitio cubierto donde poder cenar. En caso de que empiece a llover antes de comenzar la ruta, contamos con el centro comercial para hacer sesión técnica. La velocidad y distancia de esta ruta va acorde con los integrantes de la misma. Puedes unirte al grupo de WhatsApp para saber cuál será nuestra siguiente ruta.</p>
        </article>

        <article class="info-rutas">
            <div>
                <i class="fa-solid fa-users"></i>
                <h3>RUTA <strong>'CARACOLERA AUTÓNOMA'</strong> 13-17KM</h3>
            </div>
            <p>Nos gusta que todo el mundo pruebe las Alfareras, sus carriles bicis y su ambiente, por lo que cada cierto tiempo o cuando alguien la solicita específicamente se monta esta ruta. La mayor parte del recorrido es por carril bici pero mínimo hay que saber frenar ya que alguna bajada constante tenemos. La velocidad y distancia de esta ruta va acorde con los integrantes de la misma. Puedes unirte al grupo de WhatsApp para saber cuál será nuestra siguiente ruta.</p>
        </article>
    }

    @if (activo === 'mapa') {
        <article class="mapa-rutas">
            <h3>MAPA DE RUTAS</h3>

            <div id="carouselX-madrid" class="carousel slide">

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="../../../assets/img/wikiloc/x-madrid/x-madrid-20.3km.png" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="../../../assets/img/wikiloc/x-madrid/x-madrid-21.2km.png" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="../../../assets/img/wikiloc/x-madrid/x-madrid-22.9km.png" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="../../../assets/img/wikiloc/x-madrid/x-madrid-23.5km.png" alt="...">
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselX-madrid" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselX-madrid" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </article>
    }
    <article>
        <div>
            <i class="fa-solid fa-circle-info"></i>
            <h3>INFORMACIÓN DE INTERÉS</h3>
        </div>
        <p>El <strong>recorrido</strong> de la ruta <strong>no es cerrado</strong>, queda en libertad de los organizadores de la ruta la posibilidad de cambiar el recorrido en cualquier momento. Si alguien <strong>no</strong> se encuentra <strong>capaz de continuar</strong> debe <strong>comunicarlo</strong> a uno de los organizadores y <strong>abandonar</strong> la ruta.</p>
    </article>


</article>

