.fondo-hero {
    background-image: url(../../../assets/img/hero.png);
    width: 100%;
    height: 30vh;
    position: relative;
}

.titulo-hero {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-family: var(--fuente-titulo-hero);

    h1{
        font-size: 80px;
        color:  rgb(25, 127, 212);
        text-shadow: 2px 2px 2px black;
    }

    h2 {
        text-shadow: 2px 2px 2px  rgb(180, 131, 39) ;
    }
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
}

/* .titulo-rutas {
    text-align: center;
    margin: 20px 0;
    font-family: var(--fuente-titulo);
    
    h3{
        color:  rgb(25, 127, 212);
        font-size: 30px;
    }
    
    p{
        color: var(--color-secundario) ;
    }
} */

.imagenes-logo ul li a,
.imagenes-foto ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;  
    border-radius: 10px;
    cursor: pointer;
}

.imagenes-logo ul li, .imagenes-foto ul li {
    font-family: var(--fuente-texto);
    margin: 20px;
    border-radius: 10px;

    img{
        margin-bottom: 8px;
    }

    strong {
        font-size: 25px;
        color: var(--color-principal);
    }

    p{
        font-size: 18px;
        color: var(--color-secundario);
    }

}

.imagenes-logo ul li {
    border: 2px solid rgb(219, 200, 163);
    background-color: rgba(163, 183, 219, 0.212);
}

.imagenes-foto ul li {
    border: 2px solid rgb(163, 183, 219);
    background-color: rgba(219, 200, 163, 0.288)
}
