.fondo-hero {
    background-image: url(../../../assets/img/hero.png);
    width: 100%;
    height: 30vh;
    position: relative;
}

.titulo-hero {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    font-family: var(--fuente-titulo-hero);

    h1{
        font-size: 80px;
        color:  rgb(25, 127, 212);
        text-shadow: 2px 2px 2px black;
    }

    h2 {
        text-shadow: 2px 2px 2px  rgb(180, 131, 39) ;
    }
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;

    figure {
        display: flex;
        justify-content: space-around;

        figcaption {
            align-content: center;
        }
    }

    p{
        text-align: center;
    }
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}


.imagenes-logo ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;  
    border-radius: 10px;
    cursor: pointer;
}

.imagenes-logo ul li {
    font-family: var(--fuente-texto);
    margin: 20px;
    border-radius: 10px;

    img{
        margin-bottom: 8px;
    }

    strong {
        font-size: 25px;
        color: var(--color-principal);
    }

    p{
        font-size:20px;
        color: var(--color-secundario);
    }

}

.imagenes-logo ul li {
    border: 2px solid rgb(219, 200, 163);
    background-color: rgba(163, 183, 219, 0.212);
}

@media (min-width: 768px) {
    li {
        width: 75%;
        place-self: center;
    }
}

@media (min-width: 992px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    li {
        justify-self: center;
        transform: scale(1);
        transition: transform 0.3s;


            &:hover {
            transform: scale(1.03);
        }
    }

    .imagenes-logo ul li:hover{
    border: 2px solid rgb(163, 145, 105);
    background-color: rgba(102, 124, 163, 0.212);
}

}

@media (min-width: 1200px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    li {
        width: 100%;

    }
}

@media (min-width: 1440px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
    }


    li {
        width: 100%;
    }
}

