
<section class="titulo-seccion">

    <hgroup>
        <h2>UBICACIÓN</h2>
        <h6>¿Quieres enterarte desde dónde salen las Alfareras?</h6>
    </hgroup>
    <div>
        <button (click)="toggle('verano')" class="btn-verano" [class.activo]="activo === 'verano'">Verano</button>
        <button (click)="toggle('invierno')" class="btn-invierno" [class.activo]="activo === 'invierno'">Invierno</button>
    </div>

</section>


<article class="info container">
    @if (activo === 'invierno') {
        <article class="ubicacion-invierno">
            <div>
                <i class="fa-solid fa-snowflake"></i>
                <h3>UBICACIÓN DE INVIERNO</h3>
                <a  class="btn-whatsapp" href="https://chat.whatsapp.com/Efe5Q7fDTmKDiwziEtD07A?mode=ems_wa_t" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
            <p>La <strong>ubicación</strong> de quedada de las <strong>rutas Alfareras</strong> será en el centro comercial <strong>X-Madrid</strong>, en Alcorcón, en la zona de restauración de la planta de arriba. Hay <strong>fácil aparcamiento</strong>, tanto cubierto (en la planta baja) como al aire libre (en la planta superior). Cualquier <strong>cambio</strong> se comunicará por el <strong>grupo de WhatsApp</strong>.</p>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6082.18083166128!2d-3.849878204667702!3d40.34034023381912!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42297225ee4d61%3A0x7c7ec10edc6e7fbd!2sX-Madrid!5e0!3m2!1ses!2ses!4v1758189742646!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    }

    @if (activo === 'verano') {
        <article class="ubicacion-verano">
            <div>
                <i class="fa-solid fa-fire"></i>
                <h3>UBICACIÓN DE VERANO</h3>
                <a  class="btn-whatsapp" href="https://chat.whatsapp.com/Efe5Q7fDTmKDiwziEtD07A?mode=ems_wa_t" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
            <p>La <strong>ubicación</strong> de quedada de las rutas Alfareras será en la <strong>pista de patinaje Alfareros Patina</strong>, en Alcorcón. Hay fácil aparcamiento en la misma pista. Cualquier <strong>cambio</strong> se comunicará por el <strong>grupo de WhatsApp</strong>.</p>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6082.3761444748725!2d-3.8286947383010648!3d40.33817374489157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4189001df25adf%3A0x24e6a0d4132378c9!2sPista%20Patinaje%2C%20Alfareros%20Patina%20Alcorc%C3%B3n!5e0!3m2!1ses!2ses!4v1758189464141!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    }

    <article>
        <div>
            <i class="fa-solid fa-circle-info"></i>
            <h3>INFORMACIÓN DE INTERÉS</h3>
        </div>
        <p>La <strong>ubicación</strong> de cada ruta <strong>puede variar</strong> según la <strong>climatología</strong> o por votación de los patinadores que vayan a realizarla, según convenga. Cualquier <strong>cambio</strong> se comunicará por el <strong>grupo de WhatsApp</strong>.</p>
    </article>


</article>
